<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {18432, 17592}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-02-26 06:33:16 +0000</string>
	<key>Creator</key>
	<string>mikel evins</string>
	<key>DisplayScale</key>
	<string>1 pt = 1 pt</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{206.25000000000182, 736.5}, {181, 163}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>33</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{188.75, 710}, {216, 216}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>34</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.802048</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.834509</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.77</string>
								<key>b</key>
								<string>0.696722</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.746156</string>
							</dict>
							<key>Width</key>
							<real>32</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>32</integer>
			<key>Layer</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>30</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{3468.7774104981927, 1593.1522529634599}</string>
				<string>{4878, 1482}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>24</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>29</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{3440.8737741282498, 1485.8355682841898}</string>
				<string>{4400.75, 1044}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>24</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>28</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{3464.5771568679547, 1675.0957247770114}</string>
				<string>{4416.75, 1850}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>24</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>27</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{1775.8547051858473, 1991.9454159064044}</string>
				<string>{2572.75, 3074}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>12</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>26</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{2780.4955305495864, 204.54159054890749}</string>
				<string>{3392.75, -326}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>16</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>12</integer>
			</dict>
			<key>ID</key>
			<integer>22</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{1861.8803347289838, 1789.563036556576}</string>
				<string>{2840.4848719368665, 1659.6022746431784}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>16</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>12</integer>
			</dict>
			<key>ID</key>
			<integer>21</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{2701.2132276719522, 545.07031798457251}</string>
				<string>{3030.91414752739, 1326.7656955355819}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>16</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>18</integer>
			</dict>
			<key>ID</key>
			<integer>20</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{1084.8376333328874, 996.23012165385046}</string>
				<string>{1525.6623666671126, 1639.7698783461497}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>12</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{1491.75, 2076}, {312, 86}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.0346157</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>0.17302</string>
				</dict>
				<key>Font</key>
				<string>OCRAStd</string>
				<key>Size</key>
				<real>72</real>
			</dict>
			<key>ID</key>
			<integer>19</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 OCRAStd;}
{\colortbl;\red255\green255\blue255;\red44\green255\blue9;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs144 \cf2 Europa}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{1447.75, 1618}, {400, 400}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>18</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.00977974</string>
						<key>g</key>
						<string>0.612444</string>
						<key>r</key>
						<string>0.0804673</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>Width</key>
					<real>32</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>15</integer>
			</dict>
			<key>ID</key>
			<integer>17</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{1170.4977794664594, 758.73318107696036}</string>
				<string>{2409.5022205335404, 405.26681892303952}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>12</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{2565.25, 604}, {104, 86}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.0346157</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>0.17302</string>
				</dict>
				<key>Font</key>
				<string>OCRAStd</string>
				<key>Size</key>
				<real>72</real>
			</dict>
			<key>ID</key>
			<integer>16</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 OCRAStd;}
{\colortbl;\red255\green255\blue255;\red44\green255\blue9;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs144 \cf2 Io}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{2417.25, 146}, {400, 400}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>15</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.00977974</string>
						<key>g</key>
						<string>0.612444</string>
						<key>r</key>
						<string>0.0804673</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>Width</key>
					<real>32</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>12</integer>
			</dict>
			<key>ID</key>
			<integer>14</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{1165.692793841625, 892.10051806175261}</string>
				<string>{2856.8505451872775, 1509.5930790277598}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>16</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{2764.75, 1984}, {778, 86}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.0346157</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>0.17302</string>
				</dict>
				<key>Font</key>
				<string>OCRAStd</string>
				<key>Size</key>
				<real>72</real>
			</dict>
			<key>ID</key>
			<integer>13</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 OCRAStd;}
{\colortbl;\red255\green255\blue255;\red44\green255\blue9;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs144 \cf2 Jupiter Hub 512}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{2853.75, 1318}, {600, 600}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>12</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.00977974</string>
						<key>g</key>
						<string>0.612444</string>
						<key>r</key>
						<string>0.0804673</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>Width</key>
					<real>32</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
			<key>ID</key>
			<integer>11</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{420.75005393688895, 817.99999444370928}</string>
				<string>{746.74990006311202, 817.99999444370928}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.999991</string>
						<key>g</key>
						<string>0.999974</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>Ball</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>Width</key>
					<real>12</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{755.25, 1076}, {415, 86}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.0346157</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>0.17302</string>
				</dict>
				<key>Font</key>
				<string>OCRAStd</string>
				<key>Size</key>
				<real>72</real>
			</dict>
			<key>ID</key>
			<integer>10</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf190
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 OCRAStd;}
{\colortbl;\red255\green255\blue255;\red44\green255\blue9;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs144 \cf2 Amalthea}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{762.75, 618}, {400, 400}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.00977974</string>
						<key>g</key>
						<string>0.612444</string>
						<key>r</key>
						<string>0.0804673</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0346157</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.17302</string>
					</dict>
					<key>Width</key>
					<real>32</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{0, 0}, {18428, 17666}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>32</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.png</string>
	</array>
	<key>KeepToScale</key>
	<true/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>graph</string>
			<key>Print</key>
			<string>NO</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>YES</string>
			<key>Name</key>
			<string>space</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-04-29 13:32:57 +0000</string>
	<key>Modifier</key>
	<string>mikel evins</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>NO</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>24</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{9, 13}, {2290, 1405}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 2054}, {8564, 5004}}</string>
		<key>Zoom</key>
		<real>0.25</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.25</real>
				<real>0.5</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
